remotefs-api/src/org/netbeans/modules/remotefs/api/resources/remote-file-system-1_0.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--- The root connection element. -->
<!ELEMENT remotefs (name,property*)>

<!--- The driver class. -->
<!ELEMENT name EMPTY>
<!ATTLIST name
    value CDATA #REQUIRED
>

<!--- The driver name. -->
<!ELEMENT property EMPTY>
<!ATTLIST property
    name CDATA #REQUIRED
    value CDATA #REQUIRED
>
